h1 {
    margin-left: 20px;
    text-align: center;  
  }

  .container{
    border: 1px solid black;
    box-shadow: 0px 0px 10px;
    padding: 15px;
    margin: 20px;
    height: 380px;
    background: #e6e6e6;    
    }

  .container-calculadora-peso{
    margin-bottom: 16px;
    background-color: #e6e6e6; 
  }

  .container-calculadora-altura{
    margin-bottom: 16px;
    background-color: #e6e6e6;
   }

  .input-number{
    height: 30px;
    width: 80px;
    margin-left: 20px;
    font-size: 16px;
   }

  .botao-calcular{
    font-size: 16px;
    background-color: #0000b3;
    width: 100%;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
  }

  .resultado{
    text-align: center;
  }
